################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ServerApp/bin
/ServerApp/bin/Debug/netcoreapp3.1
